<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EventFrameworkControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Mono"/></startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <EventFrameworkControl.Properties.Settings>
            <setting name="netPipeAddress" serializeAs="String">
                <value>net.pipe://WIN-N26JO1512TH/EventServiceProxy</value>
            </setting>
            <setting name="netTcpAddress" serializeAs="String">
                <value>net.tcp://WIN-N26JO1512TH:1234/EventServiceProxy</value>
            </setting>
            <setting name="atomicEvViewCols" serializeAs="String">
                <value>DSInstance, TriggerID, TriggerType, TriggerName, Description, Statement, InternalSource, Values, CreatedBy</value>
            </setting>
            <setting name="actionViewCols" serializeAs="String">
                <value>ActionID, WsdlAddress, MethodeName, Description, ParamDescr, ReturnDescr, SparqlQuery, CreatedBy</value>
            </setting>
            <setting name="complexEvViewCols" serializeAs="String">
                <value>CEID, Name, Description, IsActive, IsOverlapping, Period, Recurrences</value>
            </setting>
        </EventFrameworkControl.Properties.Settings>
    </userSettings>
</configuration>
