<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Dsn=VirtuosoDB32;uid=dba;pwd=dba" providerName="System.Data.Odbc"/>-->
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Dsn=VirtuosoDB32;uid=dba;pwd=dba"/>
    <!--<add key="connectionString" value="Dsn=VOS;uid=dba;pwd=dba"/>-->
    <add key="associatedGraphs" value="http://rdf.event.framework/instances"/>
    <add key="serviceEndpoint" value="VirtuosoEventEndpoint"/>
    <add key="virtExtEndpoint" value="VirtuosoExtentionEndpoint"/>
    <!--Replace the hostname of the following entries, DONT USE LOCALHOST !!-->
    <add key="baseAddressEvService" value="http://WIN-N26JO1512TH:8000/VirtuosoEventService"/>
    <add key="baseAddressExService" value="http://WIN-N26JO1512TH:8000/VirtuosoExtentionService"/>
    <add key="procedureEndpoint" value="http://WIN-N26JO1512TH:8890/EventFrameworkProcedures"/>
    <add key="writeDbgMessages" value="True"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EventFrameworkProceduresDocLiteralBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="EventFrameworkProceduresDocLiteralBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:8890/EventFrameworkProcedures" binding="basicHttpBinding" bindingConfiguration="EventFrameworkProceduresDocLiteralBinding" contract="VirtuosoProcedures.EventFrameworkProceduresDocLiteralPortType" name="EventFrameworkProceduresDocLiteralPort"/>
      <endpoint address="http://localhost:8890/EventFrameworkProcedures" binding="basicHttpBinding" bindingConfiguration="EventFrameworkProceduresDocLiteralBinding1" contract="VirtuosoCentral.EventFrameworkProceduresDocLiteralPortType" name="EventFrameworkProceduresDocLiteralPort1"/>
      <!--<endpoint address="http://Chile-Ubuntu:8890/EventFrameworkProcedures" binding="basicHttpBinding" bindingConfiguration="EventFrameworkProceduresDocLiteralBinding" contract="VirtuosoProcedures.EventFrameworkProceduresDocLiteralPortType" name="EventFrameworkProceduresDocLiteralPort"/>
      <endpoint address="http://Chile-Ubuntu:8890/EventFrameworkProcedures" binding="basicHttpBinding" bindingConfiguration="EventFrameworkProceduresDocLiteralBinding1" contract="VirtuosoCentral.EventFrameworkProceduresDocLiteralPortType" name="EventFrameworkProceduresDocLiteralPort1"/>-->
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
     
      <!--<diagnostics>
        <messageLogging logEntireMessage="true"
                        logMessagesAtServiceLevel="false"
                        logMessagesAtTransportLevel="false"
                        logMalformedMessages="true"
                        maxMessagesToLog="5000"
                        maxSizeOfMessageToLog="2000">         
        </messageLogging>
      </diagnostics>-->
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
                    propagateActivity="true">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
                          initializeData="traceinfo.svclog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Mono"/></startup></configuration>
